@charset "UTF-8";
/* CSS Document */

body li,a,h1,h2,h3,p,p1,p2,p3,p4,p5,p6{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align:center;
		
}

p{
	color:white;
	font-size: 22px;
	padding-top:50px;
	
}
h1{
	font-size: 16px;
	font-weight: lighter;	
	
}
h2{
	font-size: 18px;
	color:#BDB3A8;
	font-weight: lighter;
	
	
}
.header{
	width: 100%;
	height: 200px;
	text-align: center;
}

.headline{
	
	width:100%;
	float:left;
	
}
