@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
    
}

.body li,a,h1,p,p1,p2,p3,p4,p5,p6{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  text-align: center;
}

.wrapper{
  width: 100%;
}

.header {
  margin-top: 0;
  background-color: #F8BEA2;
  width: 100%;
  height: 200px;
}

.header p{
  padding-top: 100px;
  text-align: center;
  font-size: 60px;
  color: #fff;
}


/*
.main-nav-wrapper{
  width: 100%;
  margin: 1em auto;
  text-align: center;
  
}

.main-nav {
  width: 15%;
  margin: auto;
  text-align: center;
  display: inline-block;

}
*/
.main-nav a{
  color: #bdb3a9;
 
}

a {
  text-decoration:none;
  
}

/*
.main-nav a:hover,active,visited{
  color:#e5a493;
  cursor:pointer;
}

#sub-menu{
  width:100%;
  height:0px;
  background:#E5DED7;
  float:left;
  overflow:hidden;
}

.sub-menu-colum{
  width:25%;
  float:left;
  text-align:center;  
  
}

#sub-menu a{
  text-decoration:none;
  color:#BDB3A8;
}

#sub-menu a:hover,active,visited{
  color:white;
}


.home-img {
  width: 100%;
  height: 500px;
  background-color: #D3D3D3;
  
}
*/

h1 {
  color: #bdb3a9;
  margin: 0.5em;
  text-align: center;
  font-size: 1.5em;
}

h2{
  font-size: 18px;
  color:#BDB3A8;
  font-weight: lighter;
  
  
}

h3 {

  margin: 0.5em;
  padding-top: 6px;
  text-align: center;

}

p1{
  font-size: 16px;
  font-weight: lighter;
  color:#E3845C;
  
  
}

#log-in{
  width:70px;
  height:30px;
  margin-left:5px;
  background:#CCC;
  border:white dotted thin;
  float:right;
  display:block;
  
}

#sign-up{
  
  width:70px;
  height:30px;
  margin-left:5px;
  background:#CCC;
  border:white dotted thin;
  float:right;
  display:block;
  
}

/*
.cate-slide {
  text-align: center;
}
.cate-slide img{
  margin: 0 1%;
  width: 21%;
  height: 250px;
  background-color: #D3D3D3;
  border-style: none;
}


.event-img {
  width: 100%;
  height: 300px;
  background-color: #D3D3D3;
}

.footer {
  background-color: #F8BEA2;
  width: 100%;
  height: 60px;
  margin: 0.8em 0;
  padding-top: 40px;
  text-align: center;
}

.footer p{
  padding: 5%;
  color: #e5a493;
  display: inline;
  font-weight: normal;
  font-size: 0.9em;
}

.footer img{
  background-color: #D3D3D3;
  width: 30px;
  height: 30px;
  margin: 0 10px;
  float: right;
}
*/


