@charset "UTF-8";
/* CSS Document */


@media screen and (min-width:481px) and (max-width:999px){
	
	
.main-nav{
	width:85%;
	margin: 1em auto;
	text-align: center;
	
}

.nav-button{
	text-decoration:none;
	display:  inline-block;
	color:#bdb3a9;
	text-align:center;
	width:14%;

	
	
}
.nav-button:hover{
	color:#F8BEA2;
	cursor:pointer;
	
}

#cart-button{
	
	width:50px;
	height:40px;
	background:grey;
	margin-bottom:2%;
	float:right;
	
}

#sub-menu{
	width:100%;
	height:0px;
	background:#E5DED7;
	float:left;
	overflow:hidden;
}

.sub-menu-colum{
	width:25%;
	float:left;
	text-align:center;	
	
}

#sub-menu a{
	text-decoration:none;
	color:#BDB3A8;
}

#sub-menu a:hover,active,visited{
	color:white;
}


#log-in-page{
	width:40%;
	margin-left:30%;
	height:300px;
	background:white;
	position:absolute;
	float:left;
	overflow:hidden;
	display:none;
	-webkit-box-shadow: 0px -1px 23px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -1px 23px -10px rgba(0,0,0,0.75);
	box-shadow: 0px -1px 23px -10px rgba(0,0,0,0.75);
}

#sign-up-page{
	width:70%;
	margin-left:15%;
	height:600px;
	background:white;
	position:absolute;
	float:left;
	overflow:hidden;
	display:none;
	-webkit-box-shadow: 0px -1px 23px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -1px 23px -10px rgba(0,0,0,0.75);
	 box-shadow: 0px -1px 23px -10px rgba(0,0,0,0.75);
}


#log-in-pop-up-content{
	background:#EDEDED;
	width:100%;
	height:70%;
}
#log-in-pop-up-close{
	text-align: center;
	background:#EDEDED;
	width:100%;
	height:12%;
	cursor:pointer;
}
#sign-up-pop-up-content{
	background:#EDEDED;
	width:100%;
	height:85%;
}
#sign-up-pop-up-close{
	text-align: center;
	background:#EDEDED;
	width:100%;
	height:10%;
	cursor:pointer;
}







.main-image{
	
	width:100%;
	height:300px;
	background:#CCC;
	float:left;
	margin-bottom:10px;
}

.category img{
	width:48%;
	height:330px;
	background-color:#CCC;
	margin-left:1%;
	margin-right:1%;
	margin-bottom:10px;
	float:left;
	
}

.event{
	width:100%;
	height:200px;
	background:#CCC;

	
	
}

.footer{
	width:100%;
	height:150px;
	text-align:  center;
	margin-top:20px;
	background:#F8BEA2;
		
}
#footer-content{
	width:15%;
	padding-top: 60px; 
	display:  inline-block;
	
}
.social-media{
	width:30px;
	height:30px;
	background: #CCC;
	margin-left:10px;
	margin-right:10px;
	margin-top:60px;
	float:right;
	
	
}


	
}