@charset "UTF-8";
/* CSS Document */

@media (min-width:1000px){
	
h1{
	padding-top: 10px;
	font-size: 16px;
	font-weight: lighter;

	
}


.header img{
	width:17%;
	margin-left:41.5%;  
	margin-bottom:10px;		
  	margin-left: auto;
    margin-right: auto;

  	
}

.main-nav{

	width:100%;
	float:left;
	
}
#cart-button{
	
	width:40px;
	height:40px;
	padding-left:3px;
	
	background:grey;
	float:right;
	overflow:hidden;
	
}


.nav-button{

	text-decoration:none;
	display: inline-block;
	text-align:center;
	width:15%;
	color:#bdb3a9;

	
	
}
.nav-button:hover{
	color:#F8BEA2;
	cursor:pointer;
	
}



#sub-menu{
	width:100%;
	height:0px;
	background:#E5DED7;
	float:left;
	overflow:hidden;
}

.sub-menu-colum{
	width:25%;
	padding-top: 15px;
	float:left;
	text-align:center;	
	
}

#sub-menu a{
	text-decoration:none;
	color:#BDB3A8;
}

#sub-menu a:hover,active,visited{
	color:white;
}




#log-in-page{
	width:40%;
	margin-left:30%;
	height:300px;
	background:white;
	position:absolute;
	float:left;
	overflow:hidden;
	display:none;
	z-index:1;
	-webkit-box-shadow: 0px -1px 23px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -1px 23px -10px rgba(0,0,0,0.75);
	box-shadow: 0px -1px 23px -10px rgba(0,0,0,0.75);
}

#sign-up-page{
	width:40%;
	margin-left:30%;
	height:390px;
	background:white;
	position:absolute;
	float:left;
	overflow:hidden;
	z-index:1;
	display:none;
	-webkit-box-shadow: 0px -1px 23px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -1px 23px -10px rgba(0,0,0,0.75);
	box-shadow: 0px -1px 23px -10px rgba(0,0,0,0.75);
}


#log-in-pop-up-content{
	background:#EDEDED;
	width:100%;
	height:63%;

}

#log-in-pop-up-content input[type="email"],
#log-in-pop-up-content input[type="password"] {
  border: 1px solid #bdb3a9;
  padding: 12px 14px;
  width: 93%;
}

#log-in-pop-up-close{
	text-align: center;
	background:#EDEDED;
	width:100%;
	height:12%;
	cursor:pointer;
}
#sign-up-pop-up-content{
	background:#EDEDED;
	width:100%;
	height:71%;

}

#sign-up-pop-up-content input[type="email"],
#sign-up-pop-up-content input[type="text"],
#sign-up-pop-up-content input[type="text"],
#sign-up-pop-up-content input[type="text"] {
  border: 1px solid #bdb3a9;
  padding: 12px 14px;
  width: 93%;
}

#sign-up-pop-up-close{
	text-align: center;
	background:#EDEDED;
	width:100%;
	height:12%;
	cursor:pointer;
}


.shopping-cart{
	width:70%;
	margin-top: 2em;
	margin-left:15%;
	height:500px;
	float:left;
	background:white;
	
	
	
}

.main-image {
	
	width:100%;
	height:400px;
	float:left;
	margin-bottom:10px;
	overflow: hidden;
}

.main-image img{
	width: 100%;
	height: 400px;
	object-fit:cover;
	margin: ;
	position: absolute;
	  opacity: 0.8;


}



.category-wrapper{
	width:100%;
	
	
}

.category {
	width:23%;
	height:300px;
	
	margin: 10px 1%; 
	float:left;
	
}


.category img{
	width:100%;
	height:300px;
	object-fit: cover;
	  opacity: 0.8;
	
}

.items{
	width:65%;
	height:200px;
	background:white;
	border-top:#BDB3A8 solid thin;
	border-left:#BDB3A8 solid thin;
	border-bottom:#BDB3A8 solid thin;
	margin-top:20px;
	float:left;	
	
}
.items-image{
	width:34%;
	height:200px;
	background: #fff;
	border:#BDB3A8 solid thin;
	float:left;	
	margin-top:20px;
	
}

.items-image img{
	width: 100%;
	height:200px;
	object-fit:cover;
	opacity: 0.9;

}
.event{
	width:100%;
	margin-top: 10px;
	float:left;
	background:#CCC;
	overflow:hidden;

}

.event img{
	width:100%;

}

.event-image h6{
	z-index: 100;
	font-size: 30px;
	font-weight: bolder;
	color: #fff;
	position: absolute;
	right: 50px;
	margin-top: 18%;

}

p14{
	z-index: 100;
	font-size: 80px;
	font-weight: bolder;
	color: #CCFF99;
	position: absolute;
	right: 50px;
	margin-top: 10%;

}

.category-content{
	width:60%;
	margin-left:20%;
	margin-bottom:20px;
	float:left;
	
}

.about-content-wrapper{
	width:80%;
	margin-left:10%;
	float:left;
	
	
	
}
.about-image {
	width:50%;
	float:left;
	margin-top:5%;
	margin-bottom: 5%;
	
}
.about-image img{
	width:100%;
	object-fit:cover;
	
}

.about-title {
	width: 48%;
	margin-left:2%;
	margin-top:5%;
	margin-bottom:2%;
	float:left;
	
}

.about {
	width: 48%;
	margin-left:2%;
	float:left;
}


.event-image {
	width: 100%;
	height: 300px;

	float:left;
	
}

.event-image img{
	width: 100%;
	height: 300px;
	object-fit:cover;
	margin: ;
	position: absolute;
	opacity: 0.7;

}

.delivery-image {
	width:60%;
	height:500px;
	background:#CCC;
	border:#BDB3A8 solid thin;
	margin: 5% auto;

	
}

.delivery-image img{
	width:100%;
	height:500px;
	object-fit:cover;
	opacity: 0.8;
	
}

.delivery-title {
	width: 60%;
	margin-left: 20%;
	margin-bottom: 2%;
}

.delivery {
	width: 60%;
	margin-left: 20%;
	margin-bottom: 2%;
}

.contact-content-wrapper{
	width:80%;
	margin-left:10%;
	float:left;
	
	
	
}
.contact-image {
	width:50%;
	float:left;
	margin-top:5%;
	margin-bottom: 5%;
	
}
.contact-image img{
	width:100%;
	object-fit:cover;
	
}

.contact-title {
	width: 48%;
	margin-left:2%;
	margin-top:5%;
	margin-bottom:2%;
	float:left;
	
}

.contact {
	width: 48%;
	margin-left:2%;
	float:left;
}


.footer{
	width:100%;
	text-align: center;
	float:left;
	background:#F8BEA2;
		
}
.contact-form{
	
	width:60%;
	height:150px;
	float:right;
	background:pink;
	
}

.social-media-wrapper{
	width:99%;
	margin-left:1%;
	margin-bottom:2%;
	float:left;
	
}

.footer-nav{
	width:38%;
	margin-left:2%;
	margin-bottom:2%;
	float:left;
	
	
}
#footer-content{
	width:100%;
	padding-top:2%;
	display: inline-block;
	
}
#footer-content h3{
	text-align:left;
	
}


.social-media{
	width:30px;
	height:30px;
	margin-left:10px;
	margin-right:20px;
	margin-top:2%;
	float:left;
	cursor:pointer;
		
}
.social-media img{
	width:30px;
	
}


	
}


/*tablet*/
@media (min-width:481px) and (max-width:999px){
	
h1{
	font-size: 14px;
	font-weight: lighter;

	
}

.header img{
  	width:17%;
	margin-left:41.5%; 
	margin-bottom:10px;
  		
  	margin-left: auto;
    margin-right: auto;
  	
}
.main-nav{
	
	width:100%;
	float:left;
	
}

.nav-button{
	text-decoration:none;
	display:  inline-block;
	color:#bdb3a9;
	text-align:center;
	width:14%;

	
	
}
.nav-button:hover{
	color:#F8BEA2;
	cursor:pointer;
	
}

#cart-button{
	
	width:40px;
	height:40px;
	padding-left:3px;
	background:grey;
	float:right;
	overflow:hidden;
	
}

#sub-menu{
	width:100%;
	height:0px;
	background:#E5DED7;
	float:left;
	overflow:hidden;
}

.sub-menu-colum{
	width:25%;
	padding-top: 15px;
	float:left;
	text-align:center;	
	
}

#sub-menu a{
	text-decoration:none;
	color:#BDB3A8;
}

#sub-menu a:hover,active,visited{
	color:white;
}


#log-in-page{
	width:50%;
	margin-left:25%;
	height:300px;
	background:white;
	position:absolute;
	float:left;
	overflow:hidden;
	z-index:1;
	display:none;
	-webkit-box-shadow: 0px -1px 23px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -1px 23px -10px rgba(0,0,0,0.75);
	box-shadow: 0px -1px 23px -10px rgba(0,0,0,0.75);
}

#sign-up-page{
	width:50%;
	margin-left:25%;
	height:390px;
	background:white;
	position:absolute;
	float:left;
	z-index:1;
	overflow:hidden;
	display:none;
	-webkit-box-shadow: 0px -1px 23px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -1px 23px -10px rgba(0,0,0,0.75);
	 box-shadow: 0px -1px 23px -10px rgba(0,0,0,0.75);
}


#log-in-pop-up-content{
	background:#EDEDED;
	width:100%;
	height:63%;
}

#log-in-pop-up-content input[type="email"],
#log-in-pop-up-content input[type="password"] {
  border: 1px solid #bdb3a9;
  padding: 12px 14px;
  width: 90.5%;
}
#log-in-pop-up-close{
	text-align: center;
	background:#EDEDED;
	width:100%;
	height:12%;
	cursor:pointer;
}
#sign-up-pop-up-content{
	background:#EDEDED;
	width:100%;
	height:71%;
}

#sign-up-pop-up-content input[type="email"],
#sign-up-pop-up-content input[type="text"],
#sign-up-pop-up-content input[type="text"],
#sign-up-pop-up-content input[type="text"] {
  border: 1px solid #bdb3a9;
  padding: 12px 14px;
  width: 90.5%;
}

#sign-up-pop-up-close{
	text-align: center;
	background:#EDEDED;
	width:100%;
	height:12%;
	cursor:pointer;
}




.shopping-cart{
	width:70%;
	margin-top: 2em;
	margin-left:15%;
	height:500px;
	float:left;
	background:white;
	
	
}


.main-image{
	
	width:100%;
	height:400px;
	background:#CCC;
	float:left;
	margin-bottom:10px;
	overflow: hidden;
}
.main-image img{
	width: 100%;
	height: 400px;
	object-fit:cover;
	margin: ;
	position: absolute;
	 opacity: 0.8;


}


.category-wrapper{
	width:100%;
	
}
.category {
	width:48%;
	height:300px;
	margin: 10px 1%; 
	float:left;
	
}

.category img{
	width:100%;
	height:300px;
	object-fit: cover;
	 opacity: 0.8;

	
}

.items{
	width:64%;
	height:200px;
	background:white;
	border-top:#BDB3A8 solid thin;
	border-left:#BDB3A8 solid thin;
	border-bottom:#BDB3A8 solid thin;
	margin-top:20px;
	float:left;	
	
}
.items-image{
	width:34%;
	height:200px;
	background:#fff;
	border:#BDB3A8 solid thin;
	float:left;	
	margin-top:20px;
	
}
.items-image img{
	width: 100%;
	height:200px;
	object-fit:cover;
	opacity: 0.9;

}
.event{
	width:100%;
	margin-top: 10px;
	float:left;
	background:#CCC;
	overflow:hidden;

}
.event img{
	width:100%;

}
.event-image {
	width: 100%;
	height: 300px;
	
	float:left;
}
.event-image img{
	width: 100%;
	height: 300px;
	object-fit:cover;
	margin: ;
	position: absolute;
	opacity: 0.7;

}

.event-image h6{
	z-index: 100;
	font-size: 30px;
	font-weight: bolder;
	color: #fff;
	position: absolute;
	right: 50px;
	margin-top: 30%;

}

p14{
	z-index: 100;
	font-size: 70px;
	font-weight: bolder;
	color: #CCFF99;
	position: absolute;
	right: 50px;
	margin-top: 20%;

}

.category-content{
	width:80%;
	margin-left:10%;
	margin-bottom:20px;
	float:left;
	
}

.about-content-wrapper{
	width:90%;
	margin-left:5%;
	float:left;
	
	
	
}
.about-image {
	width:50%;
	float:left;
	margin-top:5%;
	margin-bottom: 5%;
	
}
.about-image img{
	width:100%;
	object-fit:cover;
	
}

.about-title {
	width: 48%;
	margin-left:2%;
	margin-top:5%;
	margin-bottom:2%;
	float:left;
	
}

.about {
	width: 48%;
	margin-left:2%;
	float:left;
}


.delivery-image {
	width:60%;
	height:400px;
	background:#CCC;
	border:#BDB3A8 solid thin;
	margin: 10% auto;
	margin-bottom: 2%;
	
}

.delivery-image img{
	width:100%;
	height:400px;
	object-fit:cover;
	opacity: 0.8;
	
}

.delivery-title {
	width: 60%;
	margin-left: 20%;
	margin-bottom: 2%;
}

.delivery {
	width: 60%;
	margin-left: 20%;
	margin-bottom: 2%;
}

.contact-content-wrapper{
	width:90%;
	margin-left:5%;
	float:left;
	
	
	
}
.contact-image {
	width:50%;
	float:left;
	margin-top:5%;
	margin-bottom: 5%;
	
}
.contact-image img{
	width:100%;
	object-fit:cover;
	
}

.contact-title {
	width: 48%;
	margin-left:2%;
	margin-top:5%;
	margin-bottom:2%;
	float:left;
	
}

.contact {
	width: 48%;
	margin-left:2%;
	float:left;
}


.footer{
	width:100%;
	text-align: center;
	float:left;
	background:#F8BEA2;
		
}
.contact-form{
	
	width:60%;
	height:150px;
	float:right;
	background:pink;
	
}

.social-media-wrapper{
	width:99%;
	margin-left:1%;
	margin-bottom:2%;
	float:left;
	
}
.footer-nav{
	width:38%;
	margin-left:2%;
	margin-bottom:2%;
	float:left;
	
	
}
#footer-content{
	width:100%;
	padding-top:2%;
	display: inline-block;
	
}
#footer-content h3{
	text-align:left;
	
}

.social-media{
	width:30px;
	height:30px;
	margin-left:10px;
	margin-right:20px;
	margin-top:2%;
	float:left;
	cursor:pointer;
		
}
.social-media img{
	width:30px;
	
}

	
}

/*phone*/
@media (max-width:480px){

.header {
  
  background-color: #fff;
  width: 100%;
  height: 200px;
  text-align: center;
  
}

.header img{
  	width:40%;
	margin-left:30%;  
  	margin-bottom:15px;
  	margin-left: auto;
    margin-right: auto;
  	
  	
}

.main-nav{
	width:100%;
	text-align: center;
	float:left;

	
}

.nav-button{
	text-decoration:none;
	display: inline-block;
	text-align:center;
	background:#bdb3a9;
	border:white solid thin;
	color:white;
	width:100%;
	height: 40px;

}
.nav-button a{
	padding-top: 10px;
	color: #fff;
	text-decoration:none;
	display: inline-block;
	text-align:center;

}

.nav-button:hover{
	color:#F8BEA2;
	
}

#cart-button{
	
	width:40px;
	height:40px;
	padding-left:3px;
	background:grey;
	float:right;
    margin-top:-292px;
	overflow:hidden;
	
}

#sub-menu{
	width:100%;
	height:0px;
	background:#E5DED7;
	margin-top:-130px;
	overflow:hidden;
	float:left;
}

.sub-menu-colum{
	width:25%;
	padding-top: 15px;
	float:left;
	text-align:center;	
	
}

#sub-menu a{
	text-decoration:none;
	color:#BDB3A8;
}

#sub-menu a:hover,active,visited{
	color:white;
}




#log-in-page{
	width:100%;
	
	height:300px;
	background:white;
	position:absolute;
	float:left;
	overflow:hidden;
	display:none;
	z-index:1;
	-webkit-box-shadow: 0px -1px 23px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -1px 23px -10px rgba(0,0,0,0.75);
	box-shadow: 0px -1px 23px -10px rgba(0,0,0,0.75);
}

#sign-up-page{
	width:100%;
	
	height:390px;
	background:white;
	position:absolute;
	float:left;
	overflow:hidden;
	z-index:1;
	display:none;
	-webkit-box-shadow: 0px -1px 23px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -1px 23px -10px rgba(0,0,0,0.75);
	box-shadow: 0px -1px 23px -10px rgba(0,0,0,0.75);
}


#log-in-pop-up-content{
	background:#EDEDED;
	width:100%;
	height:63%;
}

#log-in-pop-up-content input[type="email"],
#log-in-pop-up-content input[type="password"] {
  border: 1px solid #bdb3a9;
  padding: 12px 14px;
  width: 91.5%;
}

#log-in-pop-up-close{
	text-align: center;
	background:#EDEDED;
	width:100%;
	height:12%;
	cursor:pointer;
}
#sign-up-pop-up-content{
	background:#EDEDED;
	width:100%;
	height:71%;
}

#sign-up-pop-up-content input[type="email"],
#sign-up-pop-up-content input[type="text"],
#sign-up-pop-up-content input[type="text"],
#sign-up-pop-up-content input[type="text"] {
  border: 1px solid #bdb3a9;
  padding: 12px 14px;
  width: 91.5%;
}

#sign-up-pop-up-close{
	text-align: center;
	background:#EDEDED;
	width:100%;
	height:10%;
	cursor:pointer;
}



.shopping-cart{
	width:96%;
	margin-left:2%;
	height:500px;
	margin-top: 2em;
	float:left;
	background:white;
	
	
}
.main-image{
	
	width:100%;
	height:300px;
	background:#CCC;
	float:left;
	margin-bottom:10px;
	overflow: hidden;
}
.main-image img{
	width: 100%;
	height: 300px;
	object-fit:cover;
	margin: ;
	position: absolute;
	 opacity: 0.8;


}

.category-wrapper{
	width:100%;
	
}

.category {
	width:48%;
	height:200px;
	margin: 10px 1%; 
	float:left;
	
}

.category img{
	width:100%;
	height:200px;
	object-fit: cover;
	 opacity: 0.8;
	
}



.event{
	width:100%;
	margin-top: 10px;
	float:left;
	background:#CCC;
	overflow:hidden;

}
.event img{
	width:100%;

}

.event-image {
	width: 100%;
	height: 200px;
	float:left;
	
}
.event-image img{
	width: 100%;
	height: 200px;
	object-fit:cover;
	margin: ;
	position: absolute;
	opacity: 0.7;

}

.event-image h6{
	z-index: 100;
	font-size: 18px;
	font-weight: bolder;
	color: #fff;
	position: absolute;
	right: 30px;
	margin-top: 40%;

}

p14{
	z-index: 100;
	font-size: 35px;
	font-weight: bolder;
	color: #CCFF99;
	position: absolute;
	right: 30px;
	margin-top: 30%;

}

.items{
	width:58%;
	margin-left:2%;
	height:200px;
	background:white;
	border-top:#BDB3A8 solid thin;
	border-left:#BDB3A8 solid thin;
	border-bottom:#BDB3A8 solid thin;
	margin-top:20px;
	float:left;	
	
}
.items-image{
	width:38%;
	height:200px;
	background: #fff;
	border:#BDB3A8 solid thin;
	float:left;	
	margin-top:20px;
	
}
.items-image img{
	width: 100%;
	height:200px;
	object-fit:cover;
	opacity: 0.9;

}
.category-content{
	width:100%;
	margin-bottom:20px;
	float:left;
	
}

.about-content-wrapper{
	width:95%;
	margin-left:2.5%;
	float:left;
	
	
	
}
.about-image {
	width:100%;
	float:left;
	margin-top:2%;
	margin-bottom: 2%;
	
}
.about-image img{
	width:100%;
	object-fit:cover;
	
}

.about-title {
	width: 100%;
	margin-bottom:2%;
	float:left;
	
}

.about {
	width: 100%;
	float:left;
	margin-bottom:2%;
}

.delivery-image {
	width:100%;
	height:300px;
	background:#CCC;
	border:#BDB3A8 solid thin;
	
	margin-bottom: 2%;
	
}

.delivery-image img{
	width:100%;
	height:300px;
	object-fit:cover;
	opacity: 0.8;
	
}

.delivery-title {
	width: 100%;
	margin-left: 5%;
	margin-bottom: 2%;
}

.delivery {
	width: 90%;
	margin-left: 5%;
	margin-bottom: 2%;
}

.contact-content-wrapper{
	width:95%;
	margin-left:2.5%;
	float:left;
	
	
	
}
.contact-image {
	width:100%;
	float:left;
	margin-top:2%;
	margin-bottom: 2%;
	
}
.contact-image img{
	width:100%;
	object-fit:cover;
	
}

.contact-title {
	width: 100%;
	margin-bottom:2%;
	float:left;
	
}

.contact {
	width: 100%;
	margin-left:2%;
	float:left;
}


.footer{
	width:100%;
	float: left;
	text-align: center;
	background:#F8BEA2;
		
}
#footer-content{
	width:100%;
	margin-top:10px;
	display: inline-block;
	
}

.social-media-wrapper{
	
	width:63%;
	margin-left:37%;
	float:left;

	
}
.social-media{
	width:10%;
	height:30px;
	margin-top:2%;
	margin-right:5%;
	float:left;
	cursor:pointer;
	
		
}
.social-media img{
	width:30px;
	
}

.contact-form{
	
	width:100%;
	height:150px;
	float:left;
	background:pink;
	
}

	
}
