@charset "UTF-8";
/* CSS Document */

* {
  margin: 0;
  padding: 0;
    
}

body li,a,h1,h2,h3,h4,h5,h6,p,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10,p11,p12{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align:center;
		
}

.header {
  
  background-color: #fff;
  width: 100%;
  text-align: center;
  
}
.top-header{
	width:100%;
	
}

.top-header h3 {
  background-color: #f8bea2;
  color: #fff;
  font-size: 14px;
  padding: 7px 5px;
  text-align: center;
  text-transform: uppercase;
}

.top-header h3:hover{
	opacity: 0.7;
}
.logo{
	width:100%;
	float:left;
	
}

a{
	text-decoration:none;
	
}

h1{
	padding-top: 10px;
	font-size: 16px;
	font-weight: lighter;

	
}
h2{
	
	font-size: 18px;
	font-weight: bold;
	color:#bdb3a9;

	
}
h3{
	font-size: 16px;
	font-weight: lighter;
	color:#E3845C;
	
	
}
h4{
	font-size:22px;
	color:#AA9482;
	text-align:left;
	
	
}
h5{
	font-size:16px;
	color:#AA9482;
	text-align:right;
	
	
}

h6{
	font-size: 30px;
	color: #bdb3a9;
	font-weight: bolder;
	margin-top: 5%;
	margin-bottom: 5%;
}



p{
	color:#AA9482;
	font-size: 22px;
	padding-top:50px;
	
}
p1{
	font-size: 16px;
	font-weight: lighter;
	color:white;
	
	
}
p2{
	color:#AA9482;

}
p3{
	
	font-size: 12px;
	font-weight: lighter;
	color:#bdb3a9;
	cursor:pointer;
	
	
}
p4{
	
    font-size: 18px;
	font-weight: lighter;
	padding:5px;
    color:white;
	background:#bdb3a9;
	border-radius:5px;
	text-transform: uppercase;
	
}
p4:hover,active,visited{
	
	background:#E2D1C3;
	
}


p5{
	
	font-size:25px;
	color:#AA9482;
	float:right;
}
p6{
	
    font-size:11px;
	color:#AA9482;
	float:right;
	text-align:right;

	
}

p7{
	font-size: 18px;
	color: #AA9482;
	float: right;
	text-align: right;
	font-weight: bold;
	
}




p8{
	font-size: 16px;
	color:#BDB3A8;
	font-weight: lighter;
	
	
}
p9{
	


	
}
p10{
	


	
}

p11{
	
    font-size:16px;
	color:white;
	background:#AA9482;
	float:right;
	text-align:right;
	padding:5px;
	border-radius:5px;
	cursor:pointer;

}
p11:hover, active, visited{
	
	background:#E2D1C3;

}



p12{
	


	
}

p13{
	font-size: 16px;
	font-weight: lighter;	
	color:#E3845C;
	
	
}


p15{
	z-index: 100;
	font-size: 50px;
	font-weight: bolder;
	color: #fff;
	position: absolute;
	right: 50px;
	margin-top: 7%;

}






#log-in{
	width:70px;
	height:30px;
	margin-left:5px;
	background:#CCC;
	border:white dotted thin;
	float:right;
	display:block;
	
}
#sign-up{
	
	width:70px;
	height:30px;
	margin-left:5px;
	background:#CCC;
	border:white dotted thin;
	float:right;
	display:block;
	
}


.headline{
	
	width:100%;
	float:left;
	
}


table{
	margin: 2em 0;
	border-collapse: collapse;
	
	
}
td{

	border: 1px solid #bdb3a9;
	
	text-align:center;
	
}

select{
	background:#bdb3a9;
	color:white;
	
}
#select{
	
	width:100%;
	
	
}

#price-inf{
	width:100%;

	
	
	
}

.check-out-button{
	width:100%;;
	margin-top:70px;
	text-align:right;
	cursor:pointer;

	
}





.body-wrapper{
	width:100%;
	float:left;
	background:#F0F0F0;
	
	
}
.category img:hover{
	opacity:0.5;
	
}
.event{
	cursor:pointer;
}
.event:hover{
	opacity:0.7;
	
}



#items-disc1{
	
	margin-right:45px;
	float:right;
	margin-top:30px;
	
	
}
#items-disc2{
	
	margin-right:45px;
	width:70%;
	float:right;
	margin-top:10px;
	
	
}

fieldset {
  border: none;
  margin: 0 auto;

}

#log-in-page h3 {
  background-color: #f8bea2;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 14px;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
}

#log-in-pop-up-close h3 {
  background-color: #EDEDED;
  color: #bdb3a9;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}

#sign-up-page h3 {
  background-color: #f8bea2;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 14px;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
}

#sign-up-pop-up-close h3 {
  background-color: #EDEDED;
  color: #bdb3a9;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}



input {
  border: none;
  font-family: inherit;
  font-size: inherit;
  -webkit-appearance: none;
}

input:focus {
  outline: none;
}



.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: ' ';
  display: table;
}
.clearfix:after {
  clear: both;
}
#log-in-pop-up-content fieldset {
  background: #fff;
  padding: 20px;

}

#sign-up-pop-up-content fieldset {
  background: #fff;
  padding: 20px;

}



#log-in-pop-up-content input {
  font-size: 14px;

}

#sign-up-pop-up-content input {
  font-size: 14px;

}



#log-in-pop-up-content input[type="email"] {
  border-radius: 3px 3px 0 0;
}

#log-in-pop-up-content input[type="password"] {
  border-top: none;
  border-radius: 0px 0px 3px 3px;
}

#log-in-pop-up-content .check-out-button {
  float: right;
  margin-top: 20px;
  
}

#log-in-pop-up-content input[type="submit"]:hover {
  background: #198d98;
}

#log-in-pop-up-content footer {
  font-size: 12px;
  margin-top: 16px;
}
#log-in-pop-up-content p2 {
	color: #fff;
}


.info {
  background: #bdb3a9;
  border-radius: 50%;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  margin: 0 10px 0 0;
  text-align: center;
  width: 20px;
}


#sign-up-pop-up-content input[type="email"] {
  border-radius: 3px 3px 0 0;
}

#sign-up-pop-up-content input[type="password"] {
  border-top: none;
  border-radius: 0px 0px 3px 3px;
}

#sign-up-pop-up-content .check-out-button {
  float: right;
  margin-top: 20px;
  
}

#sign-up-pop-up-content input[type="submit"]:hover {
  background: #198d98;
}

#sign-up-pop-up-content footer {
  font-size: 12px;
  margin-top: 16px;
}
#sign-up-pop-up-content p2 {
	color: #fff;
}



