body{

	font-family: 'Palanquin', sans-serif;
	font-weight:lighter;
	line-height:normal;
	width:90%;
	margin-left:5%;
}

*{

	margin:0;
	padding:0;

}
a{
	text-decoration:none;
}
.navigation-wrapper{
    display:table;
    padding:3em 0;
    margin:auto;

}
.navigation-button{
	background:white;
	float:left;
 	margin-right:1em;
 	display:table-cell;
}
.navigation-button:last-child{
	margin:0;
}
.navigation-wrapper h1{
	font-size:1em;
	color:#c5bdb5;
	font-weight:lighter;
	padding:0 0.5em;
}
.navigation-wrapper h1:hover{
	color:#f7bda3;
}


.body-content h1{
    color:#c5bdb5;
	font-size:1.5em;
	font-weight:600;


}


.body-content p{
    color:#c5bdb5;
	font-size:1em;


}
.body-content p1{
    color:white;
	font-size:1em;
	background:#c5bdb5;
	padding:0 0.5em;

}

.body-content p2{
    color:#C9C9C9;
	font-size:1em;

}

.body-content p3{
    color:#c5bdb5;
	font-size:1em;

}
.body-content p3:hover{
    color:#f7bda3;

}
.body-content p4{
    color:#c5bdb5;
	font-size:1em;
	cursor:pointer;
	font-weight:800;

}
.body-content p4:hover{
    color:#f7bda3;

}


.about-title h1{
    font-size: 3em;
	color:#b2aaa1;
	font-weight:normal;


}
.about-title p1{

    color:#c5bdb5;
	font-size:1.5em;
	font-weight:800;
	background:white;


}
.about{
	height:300px;
}

.about p1{
    background:white;
	color:#b2aaa1;
	font-size:1em;
	font-weight:lighter;
	line-height:1.4em;
}

.body-content{
    padding-bottom:2em;
	border-bottom:#c5bdb5 dotted 0.1em;

}

.nav-button{
	float:left;
	margin-right:2em;
	cursor:pointer;

}

.header-button input[type='button']{

	background:#f7bda3;
	border:none;
	font-size:1em;
	color:white;
	padding:0.5em 1em;
	cursor:pointer;

}

.check-out-button, .cancle-button{
	float:left;
	margin-right:1em;
}
.check-out-button input[type='button']{

	background:#c5bdb5;
	border:none;
	font-size:1em;
	color:white;
	padding:0.5em 1em;
	cursor:pointer;

}

.cancle-button input[type='button']{

	background:white;
	border:#c5bdb5 solid 0.1em;
	font-size:1em;
	color:#c5bdb5;
	padding:0.5em 1em;
	cursor:pointer;


}
.cancle-button input[type='button']:hover{

	color:#D7CEC4;
	border:#D7CEC4 solid 0.1em;
}

.check-out-button input[type='button']:hover{

	background:#D7CEC4;
	
}

.field-wrapper input[type=email],[type=password]{
	font-weight:lighter;
	height:1.5em;
	margin-top:0.8vw;
	width:50%;
    font-size:1em;
	background: white;
	border: 1px solid #b2aaa1;
	padding-left:0.3em;
	color:#b2aaa1;
}

.field-wrapper textarea[type=password]{
	font-weight:lighter;
	width:50%;
	max-width:50%;
	height:5em;
	margin-top:0.8vw;
    font-size:1em;
	background: white;
	border: 1px solid #b2aaa1;
	padding-left:0.3em;
	color:#b2aaa1;
}

.list ul li{

	color:#c5bdb5;
	font-size:1em;
	margin-left:2em;

}

.list ul li span{

	color:#c5bdb5;
	font-size:1.5em;
	line-height:1em;

}


.list ol li{

	color:#c5bdb5;
	font-size:1em;
	margin-left:2em;


}

.list ol li span{

	color:#c5bdb5;
	font-size:1em;
	line-height:1em;

}

.category-content img{
	width:100%;


}

.category-content{
	
	margin-top:2em;
} 

.item-image{

	border-top:#c5bdb5 solid 0.1em;
	border-left:#c5bdb5 solid 0.1em;
	border-bottom:#c5bdb5 solid 0.1em;
    height:29vw;
    overflow:hidden;
}

.item-content{
	border:#c5bdb5 solid 0.1em;
    height:24vw;
    margin:0;
}
#item-content-wrapper{
	width:80%;
	margin:auto;
	display:block;
}

.item-content h1{
	font-size:2em;
	padding:0;

}
.item-content p1{
	
	font-size:1em;
	background:white;
	padding:0;
	color:#c5bdb5;
	text-align:left;
}
.item-content p2{
	
	font-size:1.5em;
	background:white;
	padding:0;
	font-weight:normal;
	color:#c5bdb5;
	text-align:left;
}

.item-content input[type='button']{

	background:white;
	border:#c5bdb5 solid 0.1em;
	font-size:1em;
	color:#c5bdb5;
	padding:0.5em 1em;
	cursor:pointer;


}
.item-content input[type='button']:hover{

	border:#f7bda3 solid 0.1em;
	color:#f7bda3;

}


.item-image{

	border-top:#c5bdb5 solid 0.1em;
	border-left:#c5bdb5 solid 0.1em;
	border-bottom:#c5bdb5 solid 0.1em;
    height:29vw;
    overflow:hidden;
}

.item-content{
	border:#c5bdb5 solid 0.1em;
    height:24vw;
    padding-top:5vw;
}
#item-content-wrapper{
	width:80%;
	margin:auto;
	display:block;
}


.event-image{

	border-top:#c5bdb5 solid 0.1em;
	border-left:#c5bdb5 solid 0.1em;
	border-bottom:#c5bdb5 solid 0.1em;

	background-image:url(../images/event1.jpg);
	background-repeat:no-repeat;
	background-size:auto 100%;
    height:29vw;
    overflow:hidden;

}
.event-image img{


	width:100%;
}
#event-content-wrapper{
	width:80%;
	margin:auto;
	display:block;
}



.event-description{
	text-align:center;
	border:#c5bdb5 solid 0.1em;
    height:29vw;
}

.event-description h1{
	font-size:2em;
	max-width:80%;
	margin-left:10%;
	margin-top:2em;
	color:#c5bdb5;
	border-top:#c5bdb5 solid 0.1rem;
	border-bottom:#c5bdb5 solid 0.1rem;
	padding:0;
	font-weight:lighter;

}
.event-description p1{
	
	font-size:1em;
	background:white;
	padding:0;
	color:#c5bdb5;
	text-align:left;
}
.event-description p2{
	
	font-size:1.5em;
	background:white;
	padding:0;
	font-weight:normal;
	color:#c5bdb5;
	text-align:left;
}

.event-description input[type='button']{

	background:white;
	border:#c5bdb5 solid 0.1em;
	font-size:1em;
	color:#c5bdb5;
	padding:0.5em 1em;
	cursor:pointer;


}
.event-description input[type='button']:hover{

	border:#f7bda3 solid 0.1em;
	color:#f7bda3;

}

#upcoming{
    width:40%;
	float:right;
	display:block;


}

#upcoming p{
	text-align:center;
	color:white;
	background:#c5bdb5;
	padding:0 2em;

}

#image-source a{
    width:20%;
    float:left;
    margin-right:2em;

}

