@charset "UTF-8";

.body li,a,h1,p,p1,p2,p3,p4,p5,p6{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	
}

.nav li{
	list-style-type: none;
	color: white;
	padding-top:5px;
	padding-bottom:5px;
	background: #f6bcaa;
	border-right-color: rgb(255,255,255);
	border-right-width: thin;
	border-right-style: solid;
	text-align: center;
}

a{
	
	text-decoration:none;
	font-size:17px;
}



ol li{
	list-style-type:none;
	counter-increment: step-counter;
	margin-bottom:5px;
	
	
}


ul li{
	color:#f6bcaa;
	
}

ol li::before{
	
	content: counter(step-counter);
    margin-right: 5px;
    font-size: 80%;
    background-color: #f6bcaa;
    color: white;
    font-weight: bold;
    padding: 3px 8px;
	border-radius:3px;
		
}




.nav{
	width: 200px;
	
	float:left;
}

.nav-holder{
	width:100%;
	float:left;
	
}

.body-content{
	
	width:100%;
	float:left;
	
}

.nav li:hover,active, visited{
	background: #e5a493;
	
}

.item-content-style{
	width:90px;
	background:#f6bcaa;
	font-size:16px;
	color:white;
	
}




.button-nav{
	margin-bottom:15px;
	
}
.body-content p2{

	color:#bdb3a9;	
}
.body-content p2:hover,active,visited{

	color:#e5a493;
	cursor:pointer;
}

.intext-link p2{
	color:black;	
	
}
.intext-link p3{
	color:#f2d1c7;
	
}

input[type=submit],[type=reset] {
padding:5px 15px; 
background:#AA9482; 
border:0 none;
font-weight: lighter;
color:white;
border-radius: 5px;
cursor:pointer; 

}

input[type=submit]:hover,[type=reset]:hover {

background:#bdb3a9; 


}
input[type=text] {
	width:120px;
	padding-left:5px;
	padding-top:3px;
	background: #white;
	border: 1px solid #f6bcaa;
	color:black;
	border-radius: 5px;
}


.sr-button label{
	background:white;
	
}

.sr-button p4{
	color:white;
	background:black;

	
}

.heading h1{
	font-size:23px;
	color: #bdb3a9;
	
	
}

.item-content{
	
	margin-top:20px;
	margin-bottom:20px;
	
}

.item-content p1{
	background:yellow;
	
	
}

.item-content p5{
	
	color:#bdb3a9;
}


.item-content p6{
	
	color:#bdb3a9;
}


.main-nav{
	
	float:left;
	margin-right:50px;
	
}
.main-nav-wrapper{
	width:100%;
	float:left;
	
}
.body-wrapper{
	width:100%;
	float:left;
	background:#F0F0F0;
	
	
}
.category-content{
	width:60%;
	margin-left:20%;
	margin-bottom:20px;
	float:left;
	
}

#items-disc1{
	
	margin-right:45px;
	float:right;
	margin-top:40px;
	
	
}
#items-disc2{
	
	margin-right:45px;
	width:70%;
	float:right;
	margin-top:10px;
	
	
}
#items-disc3{
	
	margin-left:45px;
	float:left;
	margin-top:30px;
	
	
}
#items-disc4{
	
	margin-left:45px;
	width:70%;
	float:left;
	margin-top:10px;
	
	
}
.items{
	width:65%;
	height:200px;
	background:white;
	border:#BDB3A8 solid thin;
	margin-top:20px;
	float:left;	
	
}
.items-image{
	width:34%;
	height:200px;
	background:#CCC;
	border:#BDB3A8 solid thin;
	float:left;	
	margin-top:20px;
	
}
p7{
	
	font-size:25px;
	color:#AA9482;
	float:right;
}
p8{
	
    font-size:11px;
	color:#AA9482;
	float:right;
	text-align:right;

	
}
p9{
	
    font-size:16px;
	color:#AA9482;
	float:right;
	text-align:right;

	
}
p11{
	
    font-size:16px;
	color:white;
	background:#AA9482;
	float:right;
	text-align:right;
	padding:5px;
	border-radius:5px;
	cursor:pointer;

	
}