@charset "UTF-8";
/* CSS Document */
.body-wrapper h1{
	
	color:#b2aaa1;
	font-size:1.5em;
	font-weight:bolder;
	
}
.body-wrapper p{
	
	color:#b2aaa1;
	font-size:1em;
	font-weight:lighter;
	line-height:1.4em;
	
}

.delivery-wrapper{
	
	margin: 1em 0;

}

.body-wrapper{
	
	width:100%;
	height:100%;
	float:left;
	background:#F4F4F4;
	
}

.delivery-image {
	height: 300px;
	padding: 1em;

}

.delivery-image img{
	width:100%;
	
}

.delivery-title{

	padding:0;
	margin-bottom:0.1em;


	
	
}
.delivery{
	padding:0;
	margin:0;
	
	
}

.blank {

}

.delivery-title h1 {
	margin-top: 1em;
	padding-left: 0.6em;
}


h2 {
	font-size: 3em;
	color:#b2aaa1;
	font-weight:normal;
}