@charset "UTF-8";
/* CSS Document */
@media (max-width:40em){
	
	
.grid-col-9of10{
	
	width:100%;
	margin:0 0;
	
}

.grid-col-5of10{
	
	width:100%;
	margin:0 0;
		
}


.grid-col-3of10{
	
	width:80%;

}

p3{
	
	color:white;
	
}
	

h5{
	
	font-size:1em;
	margin-top:80%;
	
	
}
h3{
	font-size:2em;
	
	
}

.popup-header p{
	
	padding:0;
	margin:0;
	
}
p{
	
	font-size:1em;
	color:white;
    margin-left:50px;
	
}
p4, p5 {
	
	font-size:1em;
	
	
}

#log-in-wrapper{
	margin-left:10%;
	margin-top:20%;
}

.forgot-password{
	
	padding:0;
	text-align:left;
	float:left;
	width:100%;
	margin:0;
}

.forgot-password p{
	
	padding:0;
	margin-left:10%;
	
	
	
}
.login-footer{
	
	margin:1em 0;
	
}
.login-footer p1, p2{
	font-size:1em;
	
	
}


#sign-up-wrapper{
	
	width:80%;
	margin-left:10%;
	margin-top:20%;
		
		
}


.signup-footer{
	
	margin:1em 0;
}

.signup-footer p1{
	font-size:1em;
	
	
}


input[type=email],[type=password],[type=confirm],[type=address],[type=city],[type=province],[type=country]{
    font-size:0.8em;

	height:3em;
	margin-top:0.7em;

}

.logo{
	
	margin-top:3em;
	
}
.logo img{
	
	width:50%;
	
	
}
.header-button{
	
	margin-left:0.2em;
	padding:0;
	
}
.header-button p{
	margin:0;
	padding:0 1em;
	
}


.nav-button{
	
	width:100%;
	padding:1em 0;
	border-bottom:#FFF solid thin;
	background:#bcb3ab;
}

#sub-menu{
	
	margin-top:-185px;
	
}
	
.category{
	width:50%;
	
}
.cate-description{
	width:50%;
	
	
}
.event-text{
	text-align:right;
	position:relative;
	width:97%;
	padding-top:2%;
	
	
}
.event-title-head{
	
	line-height:9vw;

	
}
.event-title-body{
	line-height:2vw;
	
}

.social-media-wrapper{
	float:left;
	margin:0;
	padding:0;
	width:65%;
	margin-left:35%;

	
}
.social-media{
	margin:0;
	margin-left:5%;
	margin-top:8%;
	float:left;
	width:10%
	
	
}
.social-media img{
	width:100%;
	
}


.footer-nav{
	width:100%;
	margin:0;
	float:left;
	margin-bottom:5%;
	
	
}
#footer-content{
	width:100%;
	padding-top:4%;
	display: inline-block;
	cursor:default;
	text-align:Center;
	
}

.contact-form{
	
	width:100%;
	height:150px;
	float:left;
	background:pink;
	
}




	
}